#HeadingAndParaCNT{
    width:100%;
    display: flex;
    align-items: center;
    padding: 20px;
    /* justify-content: space-between; */
}
#BulbHeading{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#BulbParagraph{
    width:100%;
    padding: 20px 50px;
}
#BgBulbContainer{
display: flex;
align-items: center;
justify-content: center;
}


@media screen and (max-width:770px) {
    .BreakTag{
        display: none;
    }
}
@media screen and (max-width:620px) {
#HeadingAndParaCNT{
display: block;
}    
}